
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.gridItem {

    display: flex;
    align-items: center;
    flex-direction: column;

    color: white;
    font-size: 2rem;
    box-shadow: inset 10px -8px 8px -8px rgb(225, 5, 5);
}

.gridItem svg {

    width: 10rem;
    height: 5rem;
    color: white;
}

.span {

}




