.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    height: 7vh;
    width: 100%;
    opacity: 0.9;
    background-color: #7700a6;
    z-index: 100;
}


