.contactsBlock {
    background-color: var(--mainBackgroundClr);
}
.contactContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-height: 100%;

}

.text {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}


.form {

    display: flex;
    flex-direction: column;

}

.inputBox {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
}
.inputBox input {
   width: 49%;
    border: none;
    outline: none;
    margin: 5px 0;
    background-color: #313f4b;
    border-radius: 2vh;
    padding: 2vh;
    color: white;
}

.textArea {
    resize: none;
    border: none;
    outline: none;
    margin-top: 1vh;
    margin: 5px 0;
    background-color: #313f4b;
    border-radius: 2vh;
    padding: 2vh;
    color: white;
}

.button {
    height: 10vh;
    width: 30vh;
    display: inline-block;
    border-radius: 15px;
    background: #1f242d;
    letter-spacing: .1rem;
    font-weight: 400;
    transition: .1s ease;
    cursor: pointer;
    margin: 3vh;
    scale: 1;
}

.button:hover {
    color: var(--textColor);
    box-shadow: 5px 5px 15px 15px rgba(81,45,168 ,1);
}

.button:active{
    background:linear-gradient( to bottom right,rgba(63,81,181,1) 0%, rgba(171,71,188 ,1) 70%);

}


.header {
    font-size: xxx-large;
    color: rgb(185, 218, 247);
}



/*

.input{
    width: 100%;
    height: 15%;
    background-color: #313f4b;
}

.textarea {
    width: 100%;
    height: 60%;
    resize: none;
    background-color: #313f4b;
    padding-left: 5px;
}

.button {
    display: inline-block;
    height: 10vh;
    width: 20vh;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgb(197, 142, 248);
    letter-spacing: .1rem;
    font-weight: 400;
    transition: .5s ease;
    background-color: #313f4b;
}

.button:hover {
box-shadow: none;
}


.header{
    margin-bottom: 3rem;
}
*/
