.contactsBlock {
    height: 100vh;

}

.contactContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.form {
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 1rem rgb(197, 142, 248);
}

.input{
    width: 100%;
    height: 15%;
    background-color: #313f4b;
}

.textarea {
    width: 100%;
    height: 60%;
    resize: none;
    background-color: #313f4b;
    padding-left: 5px;
}

.button {
    display: inline-block;
    height: 10vh;
    width: 20vh;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgb(197, 142, 248);
    letter-spacing: .1rem;
    font-weight: 400;
    transition: .5s ease;
    background-color: #313f4b;
}

.button:hover {
box-shadow: none;
}


.header{
    margin-bottom: 3rem;
}
