.credentials {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color:  #16171b;
    color: var(--textColor);
    border-radius: 5px;
    align-items: stretch;
    gap: 20px;
    padding: 10px 10px;
}

.blocks {
   flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    border: 1px  #e66465 solid;
    border-radius: 5px;
    box-shadow: 0 0 0.5rem rgb(185, 218, 247);
}

.blocks:hover{
    transform: scale(1.1);
    border: solid 3px rgb(185, 218, 247);
}