.container {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-wrap: wrap;
}
.bckgrndColor {
    background-color :#1f242d
}
.bckgrndColor2 {
    background-color : #313f4b
}
.text {
    color: #fff;
}