.hireMeBlock {
    height: 30vh;
}

.hiresContainer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.button{
    height: 100px;
    width: 200px;
    border-radius: 15px;
}