.hireMeBlock {
    height: 30vh;
}

.hiresContainer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button{
    height: 50vh;
    width: 50vh;
    border-radius: 15px;
}