.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 317px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -100%;
    background-color: #FFFFFF; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar.open {
    position: fixed;
    left: 0;
    visibility: visible;
}

.background {
    position: fixed;
    z-index: 1;
    width: 1000vw;
    height: 100vh;
    background: #000000;
    opacity: 0.3;
}

.nav {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav a {
    margin: 20px;

    font-family: 'Montserrat';
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration-line: none;
}

.nav a:hover {
    text-decoration-line: underline;
}

.nav a.active {
    color: #58ACFF;
}

.close {
    align-self: flex-end;
    width: 15%;
    height: 60px;
    border: none;
    background: #FFFFFF;
}

.close img {
}
