.projectContainer {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;

}

.project {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.icon {

    background-color: rgb(197, 142, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text {
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    color: var(--textColor);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    display: flex;
}

.project img {
    width: 100%;
    height: 40rem;
    transition: .5s ease;
}

.project:hover img {
    transform: scale(1.1);
    /* Chrome, Safari, Opera */
    filter: blur(1px);
}

.project .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(rgba(0,0,0,.1),white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project:hover .layer {
    transform: translateY(0%);
}

/* LinkWithIcon.css */

.linkContainer {
    text-decoration: none;

    transition: color 0.3s ease-in-out;
}

.linkIcon {
    font-size: 1.5rem;
    color: #e66465;
}



@media (max-width: 900px) {

    .projectContainer {
        width: 100%;

    }

    .project {
        margin-top: 5rem;

        height: auto;
    }

    .textContainer {
        width: 100%;
        height: auto;
        align-items: center;
    }

}