.skillsBlock {
    min-height: 100vh;
    background-color: rgba(2224, 174, 107);
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}