.skillsBlock {
    min-height: 100vh;
    background-color: var(--mainBackgroundClr);
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header {
    font-size: xxx-large;
    color: rgb(185, 218, 247);
}
