.main {
    height: 100vh;
    background: var(--secondBackgroundClr);
}

.text {
    width: 300px;
    color: var(--textColor);
}

.photo {
    position: relative;
    width: 300px;
    height: 400px;
}

.photo> img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}

.photo> :nth-child(1) {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid rgb(185, 218, 247);
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
}

.photo > :nth-child(2) {
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    top: 4rem;
    background: rgb(185, 218, 247);
}

.socialLinks{
    display: flex;
    gap: 2rem;
}
.socialLinks>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}



.text h3 {

}

.text h3:nth-of-type(2) {

}



.text h1 {
}

.home-content p {

}

