.main {
    height: 100vh;
    background-color: rgb(224, 174, 107);
}

.text {
    width: 300px;
    border: 1px solid;
    background-color: aliceblue;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgb(15, 16, 17);
}