.skill {
    display: flex;
    height: 100%;
    width: 100%;
}

.ul {
    list-style-type: none;
    font-size: 2rem;
    font-weight: 100;
    padding: 0;
    background-color: #16171b;
    color: var(--textColor);
}

.li {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.ul :hover {
    color: #e66465;
}

.span {
    margin-left: 10px;
    font-weight: 100;
    font-size: 18px;
}

