.descriptionContainer {
    width: 100%;
}

.descriptionNav {
    list-style: none;
    display: flex;
    padding: 0;
    bottom: 0;
    gap: 2rem;

    background-color: #e66465;
    border-radius: 5px;
    text-align: center;
    position: inherit;

}

.descriptionNav li {
    display: inline-block;
    padding: 20px 30px;
    color: white;
    cursor: pointer;
    position: relative;
}
.descriptionNav li.active:after{
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #F85353;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

