.projectContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.project {
    width: 100vh;
    height: 70vh;
    display: flex;

    flex-wrap: wrap;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.icon {
    width: 100%;
    height: 100%;
    background-color: rgb(197, 142, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContainer span {
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    color: var(--textColor);
}

.text {
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    color: var(--textColor);
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.project img {
    width: 100%;
    transition: .5s ease;
}

.project:hover img {
    transform: scale(1.1);
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.project .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(rgba(0,0,0,.1),wheat);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project:hover .layer {
    transform: translateY(0%);
}