*{
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
}

:root {
    --mainBackgroundClr:#1f242d;
    --secondBackgroundClr:#040605;
    --textColor: #f0f4f3;
}

.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


