:root {
    --mainBackgroundClr:#1f242d;
    --secondBackgroundClr:#313f4b;
    --textColor: #fff;
}
::-webkit-scrollbar{
    display: none;
}

.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


