.navContainer{
    width:300px;
    display: flex;
    justify-content: space-around;

}

.navContainer a {
    text-decoration: none;
}

.navContainer a:hover,
.navContainer a.active
 {
    color: brown;
}
