.navContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 10vh;
}

.navMenu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.navMenu:hover li{
    filter: blur(5px);
}

.navMenu>li {
    display: block;
    transition: .5s;
}

.navMenu>li:hover {
    cursor: pointer;
    color: aqua;
    filter: blur(0px);
}



