.footerContainer {
    height: 10vh;
    background-color: rgb(138, 87, 10);
}
.footersBlock {
    display: flex;
    flex-direction: row;
}
.span{
    background-color: azure;
    height: 15px;
    width: 15px;
}
.footer{
    margin-left: 3vh;
}
.goUp{
    cursor: pointer;
}



