.footerContainer {
    height: 10vh;
    background-color: rgb(138, 87, 10);
}
.footersBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.span{
    background-color: azure;
    height: 15px;
    width: 15px;
}
.footer{
    margin-left: 3vh;
}
.button{
    display: flex;
    justify-content: flex-end;
}