.projectsBlock {
    min-height: 100vh;
    background-color: var(--secondBackgroundClr);
    gap: 5vh;
}

.projectsContainer {
    align-items: center;

}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.header {
    font-size: xxx-large;
    color: rgb(185, 218, 247);
}


